body {
  margin: 0;
  overflow: hidden;
}
.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.container {
  padding: 24px;
}
.name {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
.des {
  color: #000;
  font-size: 16px;
  margin: 8px 0;
}

.links a + a {
  margin-left: 4px;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 32px;
  text-align: center;
}
.icp {
  font-size: 12px;
}
