body {
  margin: 0;
  overflow: hidden;
}
.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.container {
  position: absolute;
  width: 320px;
  height: 200px;
  left: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.name {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
.des {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
a {
  color: #999;
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: red;
  text-decoration: none;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 32px;
  text-align: center;
}
.icp {
  font-size: 12px;
}
